.idea/
node_modules/
public/
app/assets/js/components/app.controllers-compiled.js
app/assets/js/components/app.controllers-compiled.js.map
app/assets/js/components/app.routes-compiled.js
app/assets/js/components/app.routes-compiled.js.map
app/assets/js/components/app.module-compiled.js
app/assets/js/components/app.module-compiled.js.map
gulpfile-compiled.js
gulpfile-compiled.js.map
npm-debug.log
server-compiled.js
server-compiled.js.map