<div id="marsContainer">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="card" style="width: 75%;margin: auto;">
                <h1>Maps</h1>
                <a ui-sref="maps.lunar">Lunar</a>
                <a ui-sref="maps.mars">Mars Satellite</a>
                <a ui-sref="maps.mars-terrain">Mars Terrain</a>
                <a ui-sref="maps.mars-curiosity">Curiosity Landing Imagery</a>
                <a ui-sref="maps.mars-hirise">Mars Hi-Rise Ortho</a>
                <a ui-sref="maps.hirise-psp">Mars Hi-Rise PSP</a>
                <div class="card image">
                <div ui-view></div>
                </div>
            </div>
        </div>
    </div>
</div>
