@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);

body {
    background: url('http://i.imgur.com/7tTKK2G.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body h1 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #00C0FF;
    font-weight: 300;
    text-align: center;
}
body h2 {
    font-family: 'Source Sans Pro', sans-serif;
    color: #00C0FF;
    font-weight: 300;
}

/* Banner */
.banner {
    background: #263645;
    padding-bottom: 1%;
    opacity: 0.6;
}

div p {
    display: inline-block;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 60px;
    font-weight: 400;
    color: #00C0FF;
    text-transform: uppercase;
    position: relative;
    margin: 10px 20px;
    padding-top: 22px;
    padding-left: 10px;
    padding-right: 10px;
    opacity: 0.0;
    animation: port 3s 1 forwards;
    -webkit-animation: port 3s 1 forwards;
}

div p:nth-of-type(2){
    animation-delay: 0.1s;
    -webkit-animation-delay: 0.1s;
}

div p:nth-of-type(3){
    animation-delay: 0.2s;
    -webkit-animation-delay: 0.2s;
}

div p:nth-of-type(4){
    animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
}

div p:nth-of-type(5){
    animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
}

div p:nth-of-type(6){
    animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
}

div p:nth-of-type(7){
    animation-delay: 0.6s;
    -webkit-animation-delay: 0.6s;
}

div p:nth-of-type(8){
    animation-delay: 0.7s;
    -webkit-animation-delay: 0.7s;
}

div p:nth-of-type(9){
    animation-delay: 0.8s;
    -webkit-animation-delay: 0.8s;
}

div:hover p {
    animation: reset 1s 1;
    -webkit-animation: reset 1s 1 ;
}

@keyframes port {
    0%{
        transform: rotateY(90deg) translateY(25%);
        opacity: 0.0;
    }
    100%{
        transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

@-webkit-keyframes port {
    0%{
        -webkit-transform: rotateY(90deg) translateY(25%);
        opacity: 0.0;
    }
    100%{
        -webkit-transform: rotateY(0deg) translateY(0%);
        opacity: 1.0;
    }
}

/* Menu */
.menu {
    text-align: center;
    padding: 5px 5px;
    background-color: #00C0FF;
    opacity: 0.4;
}
.menu a {
    color: #263645;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 22px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

// Home page
#waves {
    width: 100% !important;
    left: 0%;
    top: 200%;
}
.mothership h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    position: relative;
    left: 0%;
    bottom: -250px;
    color: #00C0FF;
    text-align: center;
}
.mothership h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #00C0FF;
    text-align: center;
}
.mothership h3 a {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    color: #00C0FF;
    text-align: center;
}

#art .Om {
    background: url("../images/Om.jpg") no-repeat center ;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

#art .Father {
  background: url("../images/father.jpg") no-repeat center;
  height: 100%;
  width: 100%;
  opacity: 0.6;
}


