@import url(http://fonts.googleapis.com/css?family=Raleway:100,300);
/*Background*/
body .intro_div {
  background: url(../images/Om.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center; }

body {
  background: white;
  font-family: Raleway, sans-serif; }

.menu {
  background: white;
  display: none;
  width: 100%; }

.menu ul {
  font-family: 'Raleway', sans-serif;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center; }

.menu ul li {
  color: black;
  font-weight: 300;
  font-size: 18px;
  letter-spacing: 2px;
  padding: 15px 0;
  text-transform: uppercase; }

.menu ul li:hover {
  background: #e9e9e9; }

.menu a {
  text-decoration: none;
  color: #333; }

.menu-toggle {
  background: none;
  color: #333;
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-size: 25px; }

.menu-toggle a {
  text-decoration: none;
  color: #333; }

/* JAVASCRIPT STYLING */
/* Particles CSS */
#particles {
  width: 100%;
  height: 100%; }
