<div class="ArtContainer" style="background: black; width: 50%; margin-left: 25%; margin-top: 2%; margin-bottom: 1%;">
    <div class="row">
        <div class="col-lg-12">
            <h1>{{ message }}</h1>
            <nav class="nav">
                <div class="wrapper">
                    <ul class="dots" style="text-align: center;">
                        <a href="" ng-click="nextSlide()"><i class="fa fa-angle-left fa-4x" style="float:left; margin-top: 100px; margin-left: 25px;"></i></a>
                        <li class="dot" ng-repeat="slide in slides" style="display: inline-block;">
                            <a href="" style="font-family: 'Source Sans Pro', sans-serif; font-size: 22px; font-weight: 100; color: #00C0FF; display: inline; padding-right: 10px;" ng-class="{'active':isCurrentSlideIndex($index)}"
                               ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                            <br>
                        </li>
                        <a href="" ng-click="prevSlide()"><i class="fa fa-angle-right fa-4x" style="float:right;margin-top:100px; margin-right: 25px;"></i></a>
                    </ul>
                </div>
            </nav>
            <div class="container slider">
                <img style="width: 75%; height: 50%;"ng-repeat="slide in slides" class="slide"
                     ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide.image}}">
            </div>
        </div>
    </div>
</div>

