@import url("https://fonts.googleapis.com/css?family=Oxygen");
@font-face {
  font-family: 'Orbitron';
  src: url("orbitron.woff2"); }

@font-face {
  font-family: 'Factor';
  src: url("FACTOR2.TTF"); }

body {
  background: #f2f2f2; }

h1 {
  font-family: 'Oxygen';
  font-size: 32px;
  color: #000000;
  text-align: center;
  padding-bottom: 10%; }

h3 {
  font-family: 'Oxygen';
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  text-align: center; }

h3:focus {
  outline: none !important; }

/* Banner */
.banner {
  background: url("../images/Valles_Marineris.jpg");
  background-size: 100vw;
  height: 40vh;
  text-align: center; }

.banner p {
  margin-top: 100px;
  display: inline-block;
  font-family: 'Orbitron';
  text-shadow: 2px 2px 2px white;
  font-size: 50px;
  font-weight: 700;
  color: #bbb;
  text-transform: uppercase;
  opacity: 0.0;
  animation: port 3s 1 forwards;
  -webkit-animation: port 3s 1 forwards; }

div p:nth-of-type(2) {
  animation-delay: 0.1s;
  -webkit-animation-delay: 0.1s; }

div p:nth-of-type(3) {
  animation-delay: 0.2s;
  -webkit-animation-delay: 0.2s; }

div p:nth-of-type(4) {
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s; }

div p:nth-of-type(5) {
  animation-delay: 0.4s;
  -webkit-animation-delay: 0.4s; }

div p:nth-of-type(6) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s; }

div p:nth-of-type(7) {
  animation-delay: 0.6s;
  -webkit-animation-delay: 0.6s; }

div p:nth-of-type(8) {
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s; }

div p:nth-of-type(9) {
  animation-delay: 0.8s;
  -webkit-animation-delay: 0.8s; }

div:hover p {
  animation: reset 1s 1;
  -webkit-animation: reset 1s 1; }

@keyframes port {
  0% {
    transform: rotateY(90deg) translateY(25%);
    opacity: 0.0; }
  100% {
    transform: rotateY(0deg) translateY(0%);
    opacity: 1.0; } }

@-webkit-keyframes port {
  0% {
    -webkit-transform: rotateY(90deg) translateY(25%);
    opacity: 0.0; }
  100% {
    -webkit-transform: rotateY(0deg) translateY(0%);
    opacity: 1.0; } }

/* End Banner */
/* Menu */
.menu {
  background-color: #f2f2f2;
  padding-top: 5px;
  opacity: 0.6;
  text-align: center; }

.menu a {
  color: #000000;
  font-family: 'Factor';
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  text-decoration: none; }

.menu a:hover {
  color: #263645; }

a {
  -webkit-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -moz-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -ms-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  -o-transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  transition: all 200ms cubic-bezier(0.39, 0.5, 0.15, 1.36);
  display: block;
  margin: 20px auto;
  max-width: 180px;
  text-decoration: none;
  border-radius: 4px;
  padding: 20px 30px; }

a.button {
  color: rgba(30, 22, 54, 0.6);
  box-shadow: rgba(30, 22, 54, 0.4) 0 0px 0px 2px inset; }

a.button:hover {
  color: rgba(255, 255, 255, 0.85);
  box-shadow: rgba(30, 22, 54, 0.7) 0 0px 0px 40px inset; }

#marsContainer {
  width: 75%;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 2% !important;
  text-align: center; }

#marsContainer h2 {
  font-family: 'Oxygen';
  font-size: 28px;
  color: #000000; }

#marsContainer h3 {
  font-family: 'Oxygen';
  font-size: 18px;
  color: #000000; }

#marsContainer a {
  font-family: 'Oxygen';
  color: #000000;
  font-size: 18px; }

#marsContainer #camera_img {
  margin-top: 5%;
  width: 100%; }

.ApodContainer h3 {
  font-family: 'Oxygen' !important; }

#lunarMap {
  margin: 0 auto; }

#map {
  height: 400px;
  margin: 0 auto; }

#explanation {
  font-family: 'Oxygen';
  color: #000000; }

.card {
  box-shadow: 1px 1px 5px #333333;
  border-radius: 2px;
  overflow: hidden; }

.card h2 {
  text-align: center;
  font-family: 'Orbitron'; }

.search {
  width: 500px;
  height: 40px;
  margin: 150px auto;
  background: #444;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  border: 1px solid #fff; }

.search input {
  width: 370px;
  padding: 10px 5px;
  float: left;
  color: #000000;
  font-family: 'Oxygen';
  text-align: center;
  font-size: 16px;
  border: 0;
  background: transparent;
  border-radius: 3px 0 0 3px; }

.search input:focus {
  outline: 0;
  background: transparent; }

.search button {
  position: relative;
  float: right;
  border: 0;
  padding: 0;
  cursor: pointer;
  height: 40px;
  width: 120px;
  color: #fff;
  font-family: 'Oxygen';
  font-size: 18px;
  background: transparent;
  border-left: 1px solid #fff;
  border-radius: 0 3px 3px 0; }

.search button:hover {
  background: #fff;
  color: #444; }

.search button:active {
  box-shadow: 0px 0px 12px 0px #e1e1e1; }

.search button:focus {
  outline: 0; }

._720kb-datepicker-calendar-day._720kb-datepicker-today {
  background: red;
  color: white; }

.ui-datepicker,
.ui-datepicker-material-header {
  font-family: 'Roboto'; }

.ui-datepicker-material-header {
  display: block;
  background-color: #284B72;
  color: white;
  text-align: center;
  width: 325px; }
  .ui-datepicker-material-header .ui-datepicker-material-day {
    background-color: #1F3A58;
    padding: 10px;
    font-size: 1rem; }
  .ui-datepicker-material-header .ui-datepicker-material-date {
    padding: 20px; }
    .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month,
    .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num,
    .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
      padding: 5px; }
    .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-month {
      font-size: 2rem;
      text-transform: uppercase; }
    .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-day-num {
      font-size: 4.5rem; }
    .ui-datepicker-material-header .ui-datepicker-material-date .ui-datepicker-material-year {
      font-size: 1.8rem;
      font-weight: 200;
      color: rgba(255, 255, 255, 0.4); }

.ui-datepicker {
  padding: 0;
  border: none;
  box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  width: 325px; }

.ui-corner-all {
  border-radius: 0; }

.ui-widget-header {
  border: 0; }

.ui-datepicker-header {
  text-align: center;
  background: white;
  padding-bottom: 15px;
  font-weight: 300; }
  .ui-datepicker-header .ui-datepicker-prev,
  .ui-datepicker-header .ui-datepicker-next,
  .ui-datepicker-header .ui-datepicker-title {
    border: none;
    outline: none;
    margin: 5px; }

.ui-datepicker-prev.ui-state-hover,
.ui-datepicker-next.ui-state-hover {
  border: none;
  outline: none;
  background: #b4cbe5; }

.ui-datepicker-calendar .ui-state-default {
  background: none;
  border: none;
  text-align: center;
  height: 33px;
  width: 33px;
  line-height: 36px; }

.ui-datepicker-calendar .ui-state-highlight {
  color: #284B72; }

.ui-datepicker-calendar .ui-state-active {
  border-radius: 50%;
  background-color: #284B72;
  color: white; }

.ui-datepicker-calendar thead th {
  color: #999999;
  font-weight: 200; }

.ui-datepicker-buttonpane {
  border: none; }
  .ui-datepicker-buttonpane .ui-state-default {
    background: white;
    border: none; }
  .ui-datepicker-buttonpane .ui-datepicker-close,
  .ui-datepicker-buttonpane .ui-datepicker-current {
    background: white;
    color: #284B72;
    text-transform: uppercase;
    border: none;
    opacity: 1;
    font-weight: 200;
    outline: none; }
    .ui-datepicker-buttonpane .ui-datepicker-close:hover,
    .ui-datepicker-buttonpane .ui-datepicker-current:hover {
      background: #b4cbe5; }

.roverContainer {
  display: inline-block; }

.roverContainer a {
  display: block; }
