<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <h1 ng-show="apod.loading">Loading</h1>
        <div class="card" style="width: 50%;margin: auto;" ng-hide="apod.loading">
            <div class="card image text-center" >
                <h2>NASA Astronomy Picture of the Day</h2>
                <datepicker>
                    <input ng-model="apod.date"  type="text"/>
                    <button type="submit" ng-click="apod.click()">Click me</button>
                </datepicker>
                <img style="width: 100%;" ng-src="{{ apod.picture.hdurl }}"/>
            </div>
            <h3>{{ apod.picture.title }}</h3>
            <h3>{{ apod.picture.explanation }}</h3>
        </div>
    </div>
</div>