<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--12-col">
        <div class="card" style="width: 75%;margin: auto;">
            <div class="card image">
                <h2>Search the NASA Image Database:</h2>
                <h3>Enter a Search Term (i.e "Saturn" or "Mars") and Click Search</h3>
                <form class="search" ng-submit="images.search(images.query)">
                    <input class="form-control" ng-model="images.query" placeholder="Search"/>
                    <button type="button" class="btn btn-default" ng-keydown="[32].includes($event.keyCode) && images.search(images.query)">Search</button>
                </form>
                <h2 ng-show="images.loading">Loading...</h2>
            </div>
        </div>
    </div>
    <div class="mdl-grid center-align" >
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop text-center" ng-repeat="photo in images.images | limitTo:images.pageSize">
            <img data-aos="fade-in" data-aos-delay="200" ng-show="photo.type == 'image'" style="width: 75%; height: 50%; padding-left: 25%;" class="img-responsive" ng-src="{{ photo.link }}"/>
            <h3 ng-show="photo.type == 'image'">{{ photo.title }}</h3>
            <span ng-show="photo.type == 'image'" ng-click="images.openModal(photo)"><i class="fa fa-info-circle" aria-hidden="true"></i></span>
        </div>
        <h3 ng-show="images.noImages">No Images Found.</h3>
    </div>
</div>
<script>
    AOS.init();
</script>