<div id="marsContainer">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="card">
                <div class="card image">
                </div>


            </div>
        </div>
    </div>
</div>

<script>
    const url = "https://images-api.nasa.gov/search";
    const queryParams = "?q=mars";

    let vm = this;
//    vm.retrieveImages = retrieveImages;

    $.ajax
    ({
        type: "GET",
        url: url + queryParams ,
        callback: '?',
        success: function(result)
        {
            console.log(result);
        }
    });
</script>