<div class="row" id="marsContainer" ng-init="spirit.retrieveSpiritData()">
    <div class="col-md-12">
        <h2>Select a Rover:</h2>
        <a ui-sref="explore.curiosity">Curiosity</a>
        <a ui-sref="explore.opportunity">Opportunity</a>
        <a ui-sref="explore.spirit">Spirit</a>
        <div class="rovers">
            <img src="app/assets/images/spirit_rover.jpg"
                 style="width: 50%; margin-bottom: 100px; margin-top: 50px;"
            />
            <em><h2>Rover Name:</h2></em>
            <h3>Spirit</h3>
            <em><h2>Status:</h2></em>
            <h3>Complete (Inactive)</h3>
            <em><h2>Launch Date:</h2></em>
            <h3>2003-06-10</h3>
            <em><h2>Landing Date:</h2></em>
            <h3>2004-01-04</h3>
            <em><h2>Max Date:</h2></em>
            <h3>2010-03-21</h3>
            <em><h2>Total Photos:</h2></em>
            <h3>124550</h3>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
            <div ng-repeat="photo in spirit.spiritData">
                <em><h2>Camera:</h2></em>
                <h3>{{photo.name}}</h3>
                <img ng-src="{{photo.img}}" style="margin:auto;">
                <em><h2>Martian Sol:</h2></em>
                <h3>{{photo.martianSol}}</h3>
                <em><h2>Earth Date:</h2></em>
                <h3>{{photo.earthDate}}</h3>
            </div>
        </div>
    </div>
</div>
