<div class="row" id="marsContainer" ng-init="curiosity.retrieveCuriosityData()">
    <div class="col-md-12">
        <h2>Select a Rover:</h2>
        <a ui-sref="explore.curiosity">Curiosity</a>
        <a ui-sref="explore.opportunity">Opportunity</a>
        <div class="rovers">
            <img src="./app/assets/images/curiosity_rover.jpg"
                 style="width: 50%; margin-bottom: 100px; margin-top: 50px;"
            />
            <em><h2>Rover Name:</h2></em>
            <h3>Curiosity</h3>
            <em><h2>Status:</h2></em>
            <h3>Active</h3>
            <em><h2>Landing Date:</h2></em>
            <h3>2012-08-06</h3>
            <em><h2>Launch Date:</h2></em>
            <em><h3>2011-11-26</h3></em>
        </div>
        <div class="col-md-12" style="margin-bottom: 50px;">
            <div ng-repeat="photo in curiosity.curiosityData">
                <em><h2>Camera:</h2></em>
                <h3>{{photo.name}}</h3>
                <em><h2>Martian Sol:</h2></em>
                <h3>{{photo.martianSol}}</h3>
                <em><h2>Earth Date:</h2></em>
                <h3>{{photo.earthDate}}</h3>
                <em><h2>Total Photos:</h2></em>
                <h3>{{photo.totalPhotos}}</h3>
                <img ng-src="{{photo.img}}" style="margin:auto; width: 75%">
            </div>
        </div>
    </div>
</div>

