<div id="marsContainer" ng-init="rover.retrieveRoverData()">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="card">
                <div class="card image">
                    <img ng-src="app/assets/images/{{rover.name.toLowerCase()}}_rover.jpg"
                         style="width:100%;"
                    />
                </div>

                <a ui-sref="rover({ rover: 'curiosity' })">Curiosity</a>
                <a ui-sref="rover({ rover: 'opportunity' })">Opportunity</a>
                <a ui-sref="rover({ rover: 'spirit' })">Spirit</a>

                <table class="mdl-data-table mdl-shadow--2dp" style="width:100%;">
                    <thead>
                    <tr>
                        <th class="mdl-data-table__cell--non-numeric"><em>Rover Name:</em></th>
                        <th><em>Status</em></th>
                        <th><em>Launch Date</em></th>
                        <th><em>Landing Date</em></th>
                        <th><em>Martian Sol</em></th>
                        <th><em>Earth Date</em></th>
                        <th><em>Total Photos</em></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="mdl-data-table__cell--non-numeric">{{rover.name.toUpperCase()}}</td>
                            <td><em>{{rover.status}}</em></td>
                            <td><em>{{rover.launchDate}}</em></td>
                            <td><em>{{rover.landingDate}}</em></td>
                            <td><em>{{rover.martianSol}}</em></td>
                            <td><em>{{rover.earthDate}}</em></td>
                            <td><em>{{rover.totalPhotos}}</em></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="mdl-grid center-align">
        <div class="mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop" ng-repeat="photo in rover.data">
            <img ng-src="{{photo.img}}" class="img-responsive" style="max-height: 300px; max-width: 300px; margin: 0 auto;">
            <h3>{{photo.name}} ({{photo.abbreviation}})</h3>
        </div>
    </div>
</div>
