<div id="marsContainer" ng-init="sounds.retrieveSoundsData()">
    <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--12-col">
            <div class="card">
                <div class="mdl-cell mdl-cell--12-col" ng-repeat="sound in sounds.sounds">
                    <h3>{{sound.title}}</h3>
                    <p>{{sound.description}}</p>
                    <a href="{{sound.download}}">Download</a>
                    <a href="{{sound.stream}}">Stream</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://connect.soundcloud.com/sdk/sdk-3.1.2.js"></script>
<script>
    SC.initialize({
        client_id: 'YOUR_CLIENT_ID'
    });

    // stream track id 293
    SC.stream('/tracks/293').then(function(player){
        player.play();
    });
</script>